@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --background-color: #FFFFFF;
  --font-size-xl: 30px;
  --font-size-lm: 24px;
  --font-size-ls: 20px;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --color-blue-100: #F4F6FA;
  --color-blue-200: #BCC6E2;
  --color-blue-300: #415997;
  --color-blue-400: #00227B;
  --color-gray-10: #F5F5F5;
  --color-gray-100: #D9D9D9;
  --color-gray-200: #C5C5C5;
  --color-gray-300: #888888;
  --color-gray-400: #585858;
  --color-gray-500: #3B3B3B;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  position: relative;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    width: 800px;
  }

  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  font-weight: var(--font-weight-medium);
  overflow: scroll;

  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

::-webkit-scrollbar {
  display: none;
}